<% if !@current_category.nil? %>
	<span data-id="<%= @current_category.id%>" class="list-group-item header_category_title"><%= best_in_place @current_category, :text %>
		<%= link_to "", new_category_question_path(category_id: @current_category.id), class: "glyphicon glyphicon-plus"%>
		<%= link_to "", category_path(id: @current_category.id), method: :delete, class: "glyphicon glyphicon-remove" %>
	</span>

	<div class="list-group">

		<% @current_category.questions.each do |question| %>
			<a href="/questions/<%= question.id %>" class="list-group-item 
			<% if @current_question == question %> active <% end %> 
			<%= question.impact %>" questions-pjax>

				<p class="status">
					<span class="widget impact-<%= question.impact %>"><%= question.impact[0]%></span>
					<!-- <span class="widget"> -->
						<!-- <b class="uncompleted-response">12</b> -->
						<!-- <b class="completed-response">5</b> -->
					<!-- </span> -->
					
				</p>
				<p><%= question.text %></p>
				<!-- <p class="status n-responses"><i>5 remaining</i></p> -->
			
			</a>
						

		<% end %>
	</div>
<% end %>
