<div id="question-content">
  <div class="row">

    <div class="col-sm-12">
      <div>
        <h3 data-id="<%= @current_question.id%>" class="header_question_title"><%= best_in_place @current_question, :text %></h3>
        <!-- <%= link_to "", question_path(id: @current_question.id), method: :delete, class: "glyphicon glyphicon-remove" %> -->

        <div class="btn-group">
        <button type="button" class="btn btn-danger">Action</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% @current_rfi.vendors.each do |vendor| %>
            <li><%= link_to vendor.user.name, rfi_path(id: vendor.id), remote: true %></li>
            
          
          <% end %>
        </ul>
      </div>
      </div>
    </div>

      <div class="col-sm-8">


      



      <div class="panel panel-default panel-info" style="margin-top: 15px">
        
        <div class="panel-heading">
          <h3 class="panel-title"><%= @current_rfi.vendors.first.user.name %></h3>
        </div>
        <div class="panel-body">
          
            <% if !@current_rfi.vendors.first.user.responses.find_by(question_id: @current_question.id).nil? %>
              <%= @current_rfi.vendors.first.user.responses.find_by(question_id: @current_question.id).text %>
            <% end %>
          
        </div>
      </div>

      <div id="comments">
        <%= render 'layouts/rfis/comments'%>    
      </div>
        

    </div>
    <div class="col-sm-4">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 15px">
        
        <% @current_rfi.vendors.each do |vendor| %>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%= vendor.id %>">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= vendor.id %>" aria-expanded="true" aria-controls="collapse<%= vendor.id %>"><%= vendor.user.name %></a>
            </h4>
          </div>
          <div id="collapse<%= vendor.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= vendor.id %>">
            <div class="panel-body">
              <% if !vendor.user.responses.find_by(question_id: @current_question.id).nil? %>
              <%= vendor.user.responses.find_by(question_id: @current_question.id).text %>
              <% end %>
            </div>
          </div>
        </div>      

        <% end %>
        </div>
    </div>
  </div>
</div>
