<%= form_tag dashboard_share_rfi_path, remote: true do %>
	<div class="row">
		<div class="col-lg-6">
		<div class="input-group">
		  <%= email_field_tag 'email', nil, class: 'form-control', placeholder: "Emails" %>
		  <span class="input-group-btn">
		    <%= submit_tag 'Share', class: 'btn btn-danger' %>
		  </span>
		</div>
		</div>
	</div>
<% end %>

<br>



<div class="panel panel-default">
	<!-- Default panel contents -->
	<table class="table table-striped">
  		<col width="15%">
  		<col width="65%">
  		<col width="20%">
  		<thead>
	        <tr>
	            <th>Vendors</th>
	            <th>Progress</th>
	            <th>Status</th>
	        </tr>
    	</thead>
	    <tbody>
		    <% if @collaborators != nil %>
				<% total_count = @current_rfi.questions.count.to_f %>
				<% @collaborators.each do |collaborator| %>
					<tr>
						<td><%= collaborator.user.name %></td>
						<% if @current_rfi.responses.any? %>
							<% @progress = (@current_rfi.responses.where(user_id: collaborator.user.id).not_empty.count/total_count * 100).to_i %>
						<% else %>	
							<% @progress = 100 %>	
						<% end %>

						<% if @progress == 100 %>		
							<% @class = "progress-bar progress-bar-info progress-bar-striped" %>
						<% elsif @progress > 30%>
							<% @class = "progress-bar progress-bar-warning progress-bar-striped" %>
						<% else %>
							<% @class = "progress-bar progress-bar-danger progress-bar-striped" %>
						<% end %>	

						
						<td>
							<div class="progress">
								<div class="<%= @class %>" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress %>%">
									<%= @progress %>%
								</div>
							</div>
						</td>
						<td>
							<% if collaborator.submissions.count > 0 %>
								Submitted
							<% else %>
								Not Submitted Yet
							<% end  %>

						</td>

					</tr>
			<% end %>
	        <% end %>
	            
	        
	    </tbody>
	</table>
	
	
</div>