<% if !@current_rfi.nil? %>

<div class="rfi-title">
	<%= link_to make_title_form_path, remote: true do %>
	<h1><%= @current_rfi.title %></h1>
	<% end %>
</div>
<div role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#vendors" aria-controls="vendors" role="tab" data-toggle="tab">Vendors</a></li>
		<li role="presentation"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Results</a></li>
		
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="vendors">
			<br>
			<%= render partial: "collaborators" %>
		</div>
		
		<div role="tabpanel" class="tab-pane fade" id="results">
			<div class="charts">
				<canvas id="myChart" width="400" height="400"></canvas>
				<% @collaborators.each do |collaborator| %>
				<!-- <div class="checkbox">
						<label>
								<input type="checkbox" value="">
								<%= collaborator.user.email %>
						</label>
				</div> -->
				<% end %>
				
				<!-- <div id="legend"></div> -->
			</div>
		</div>
	</div>
</div>

<% else %>
<div role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
		<% @rfis.each do |rfi| %>
		<% if rfi.id != @rfis.first.id %>
		<li role="presentation"><a href="#<%= rfi.id %>" aria-controls="<%= rfi.id %>" role="tab" data-toggle="tab"><%= rfi.title %></a></li>
		<% else %>
		<li role="presentation" class="active"><a href="#<%= rfi.id %>" aria-controls="<%= rfi.id %>" role="tab" data-toggle="tab"><%= rfi.title %></a></li>
		<% end %>
		<% end %>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
		
		
		
		<% @rfis.each do |rfi| %>
		<% if rfi.id != @rfis.first.id %>
		<div role="tabpanel" class="tab-pane fade" id="<%= rfi.id %>">
			<% else %>
			<div role="tabpanel" class="tab-pane fade in active" id="<%= rfi.id %>">
				<% end %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Status</h3>
					</div>
					<div class="panel-body">
						
						
						<table class="table table-bordered">
							
							<col width="25%">
							<col width="25%">
							<col width="25%">
							<col width="25%">
							<thead>
								<tr>
									<th>Create</th>
									<th>Send</th>
									<th>Score</th>
									<th>Complete!</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img src="<%= asset_path 'asset1.png'%>"  alt=""> </td>
									<td><img src="<% if rfi.collaborators.count > 0 %> <%= asset_path 'asset1.png'%><% end %>"  alt=""> </td>
									<td><img src="<% if rfi.submissions.any? && rfi.submissions.is_null == 0 %> <%= asset_path 'asset1.png'%><% end %>"  alt=""> </td>
									<td></td>
								</tr>
								
							</tbody>
						</table>

						<h3>What's Next?</h3>
						<ul>
							<li>Review & confirm final evaluations</li>
							<li>Send completed evaluation to customer</li>
							<li>Mark final RFI as complete</li>
						</ul>
					</div>
				</div>
			</div>
			
			<% end %>
			
		</div>
	</div>
	
	<% end  %>