<% if !@current_rfi.nil? %>
	<!-- Title of RFI -->
	<div class="rfi-title">
		<%= link_to make_title_form_path, remote: true do %>
			<h1><%= @current_rfi.title %></h1>
		<% end %>
	</div>
	<!-- Share with collaborators -->
	<%= form_tag share_rfi_path, remote: true do %>
		<%= email_field_tag :email %>
		<%= submit_tag 'Share', class: 'submit' %>
	<% end %>
	
	<!-- Edit or Delete a RFI -->
	<% if @current_rfi != nil %>
		<%= link_to "Edit", load_rfi_path(rfi_id: @current_rfi.id), class: 'btn btn-primary'%>
		<%= button_to "Delete", delete_rfi_path(rfi_id: @current_rfi.id), class: 'btn btn-primary', remote: true %>
	<% end %>
	

	<h1>Collaborators</h1>
	<ul>
		<% if @collaborators != nil %>
			<% @collaborators.each do |collaborator| %>
				<li>
				
					<%= link_to collaborator.user.email, evaluation_path(collaborator_id: collaborator.id) %>

				</li>
			<% end %>
		<% else %>
		<% end %>
	</ul>


<% end %>



