
<% if !@current_rfi.nil? %>
	<!-- Title of RFI -->
	<div class="rfi-title">
		<%= link_to make_title_form_path, remote: true do %>
			<h1><%= @current_rfi.title %></h1>
		<% end %>
	</div>
	<!-- Share with collaborators -->
	<%= form_tag share_rfi_path, remote: true do %>
		<%= email_field_tag :email %>
		<%= submit_tag 'Share', class: 'submit' %>
	<% end %>
	
	
	

	<h1>Collaborators</h1>
	<ul>
		<% if @collaborators != nil %>
			<% @collaborators.each do |collaborator| %>
				<li>
					<%= collaborator.user.email %>
				</li>
			<% end %>
		<% else %>
		<% end %>
	</ul>



	<div class="charts">
		<canvas id="myChart" width="400" height="400"></canvas>
		<% @collaborators.each do |collaborator| %>

			<div class="checkbox">
			  <label>
			    <input type="checkbox" value="">
			    <%= collaborator.user.email %>
			  </label>
			</div>

				
		<% end %>
		
		<!-- <div id="legend"></div> -->
	</div> 


<% end %>


<script>
	<% if !@current_rfi.nil? %>
    	loadCharts()
  	<% end %>
	
</script>
