<%= link_to create_rfi_path, method: :post do%>
    <div class="menu-option">
        <div class="content">
            <img src="<%= asset_path 'add_rfi.png'%>" class="menu-button" alt="">
            <p>Create New</p>        
        </div>
    </div>
<% end %>

<% if @current_page == "dashboard"  %>
    <%= link_to create_rfi_path, method: :post do %>
        <div class="menu-option">
            <div class="content">   
                <img src="<%= asset_path 'inbox.png'%>" class="menu-button" alt="">
                <p>Message Inbox</p>
            </div>
        </div>
    <% end %>
<% end %>

<% if @current_page == "dashboard"  %>
    <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="menu-option">
            <div class="content">   
                <img src="<%= asset_path 'logout.png'%>" class="menu-button" alt="">
                <p>Logout</p>
            </div>
        </div>
    <% end %>
<% end %>


<% if !@current_rfi.nil?  %>
    <%= link_to load_rfi_evaluation_path(rfi_id: @current_rfi.id) do %>
        <div class="menu-option">
            <div class="content">   
                <img src="<%= asset_path 'score_rfi.png'%>" class="menu-button" alt="">
                <p>Score RFI</p>
            </div>
        </div>
    <% end %>
<% end %>

<% if !@current_rfi.nil?  %>
    <%= link_to load_rfi_path(rfi_id: @current_rfi.id) do %>
        <div class="menu-option">
            <div class="content">   
                <img src="<%= asset_path 'edit_rfi.png'%>" class="menu-button" alt="">
                <p>Edit RFI</p>
            </div>
        </div>
    <% end %>
<% end %>

<% if !@current_rfi.nil?  %>
    <%= link_to delete_rfi_path(rfi_id: @current_rfi.id), method: :post do %>
        <div class="menu-option">
            <div class="content">   
                <img src="<%= asset_path 'delete.png'%>" class="menu-button" alt="">
                <p>Delete</p>
            </div>
        </div>
    <% end %>
<% end %>


<!-- <div class="menu-option"></div> -->
<!-- <div class="menu-option"></div> -->
<!-- <div class="menu-option"></div> -->