<%= javascript_include_tag 'dashboard' %>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav nav-pills nav-stacked" role="tablist">
                <%= render partial: "sidebar_menu", object: [@rfis, @current_rfi, @shared_rfis] %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper" class="dashboard">
            
            <!-- Menu -->
            <div class="menu-wrapper">
                <div class="menu">
                    <div class="menu-option-wrapper">
                        <%= render partial: "menu_options", object: @current_rfi %>
                    </div>
                    
                </div>
                <div class="offset"></div>
            </div>
            
            <!-- Content -->
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="content">
                            <%= render partial: "content", object: @current_rfi %>
                            
                        </div>
                        
                    </div>
                </div>
                <!-- news-feed -->
                <ul class="news-feed list-group">
                    
                    <% @activities.each do |activity| %>
                        <% if activity.recipient == current_user %>
                            <li class="list-group-item">
                                <%= render_activity activity %> 
                            </li>
                        <% end %>
                    <% end %>
                    
                </ul>
                
            </div>
            
        </div>
        
    </div>
</body>