<%= content_for :header do %>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>


  <%= link_to invites_path(), id: "refresh", class: "navbar-brand" do%> 
    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
  <% end %>


  <% if !@current_rfi.nil? %>

    <div class="dropdown navbar-brand" id="rfis">
      <a href="#" class="dropdown-toggle menu" data-toggle="dropdown" role="button" aria-expanded="false">
        <%= @current_rfi.title %><span class="caret"></span>
      </a>

      <ul class="dropdown-menu" role="menu">
        <% @rfis.each do |rfi| %>
          <li><%= link_to rfi.title, rfi_path(id: rfi.id) %></li>
          <li class="divider"></li>
        <% end %>
      </ul>
    </div>

  <% end %>
  
  
</div>


<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav navbar-left">
    <% if user_signed_in? %>
      <li><a href="#" class="" data-toggle="modal" data-target=".add-new">Add New</a></li>
      <!-- Settings dropdown -->
      <% if !@current_rfi.nil? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle menu" data-toggle="dropdown" role="button" aria-expanded="false">
            Settings<span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li><a href="#" data-toggle="modal" data-target=".settings-rename">Rename</a></li>
            <li class="divider"></li>
            <li><a href="#">Delete</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      <% end %>
      <li><%= link_to 'Share', share_path(email: "anna@anna.com"), method: :post, remote: true%> </li>
      <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
    <% else %>
      <li><%= link_to "Register", new_user_registration_path, :id =>'login'  %> </li>
      <li><%= link_to "Login", new_user_session_path, :id => 'login'  %></li>
    <% end %>
  </ul>
<% end %>