<%= javascript_include_tag 'creations' %>  

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <div class="categories">
                    <%= render partial: "categories", object: [@categories, @active_category] %>
                </div>
                <%= button_to "Add Category", add_new_category_path, remote: true, class: 'btn btn-primary' %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">

                        <div class="questions">
                            <%= render partial: "questions", object: @active_category %>
                        </div>

                        <div class="question_section">
                            <%= render partial: "question_section", object: @active_category %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</body>
