<%= javascript_include_tag 'creations' %>  
<% content_for :sidebar do %>
    <div class="creations">
        <div class="categories">
            <%= render partial: "categories", object: [@categories, @active_category] %>
        </div>
    </div>
<% end %>


<div class="creations">

    <% if @active_category != nil %>
        <div class="questions">
            <%= render partial: "questions", object: @active_category %>
        </div>
                

        <div class="create_section">
            <%= render partial: "create_section", object: @active_category %>
        </div>

    <% else %>
        <%= render partial: "empty_questions" %>
    <% end %>
</div>
