<% if @c != @active_category %>
  <li role="presentation" id="<%= @c.id %>">
    <%= link_to toggle_category_path(category: @c.id), remote: true do %>
      <% if @unrated > 0 %>
        <%=@c.text%><span class="badge"><%=@unrated%></span>
      <% else %>
        <%=@c.text%>
      <% end %>
    <% end %>
  </li>
<% else %>
  <li class="active" role="presentation" id="<%= @c.id %>">
    <%= link_to toggle_category_path(category: @c.id), remote: true do %>
      <% if @unrated > 0 %>
        <%=@c.text%><span class="badge"><%=@unrated%></span>
      <% else %>
        <%=@c.text%>
      <% end %>
    <% end %>
  </li>

  <!--  Questions -->
  
  <ul class="questions-nav nav nav-pills nav-stacked" role="tablist">
    <% @c.questions.each do |q| %>
      <% if q == @active_question %>
        <li class="active" role="presentation" id="<%= q.id %>">
          <%= link_to q.text, update_active_question_path(question: q.id), remote: true%>
        </li>
      <% else %>
        <li role="presentation" id="<%= q.id %>">
          <%= link_to q.text, update_active_question_path(question: q.id), remote: true%>
        </li>
      <% end %>
    <% end %>
  </ul>
  

<% end %>  