<!DOCTYPE html>
<html>
	<head>
		<base href="/">
		<title>BridgeIT</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		
	</head>
	<body>

		<%= render 'layouts/headers/primary' %>
		<div id="wrapper" >
			<!-- Sidebar -->
			<div id="sidebar" >
				<div id="menu"><%= render 'layouts/sidebar/menu' %></div>
				<div id="categories"><%= render 'layouts/sidebar/categories' %></div>
				<div id="questions"><%= render 'layouts/sidebar/questions' %></div>
			</div>
			
			<!-- Page Content -->
			<div id="content-wrapper" class="container-fluid main-content">
				<%= yield %>
				
			</div>
		</div>
	</body>

	
</html>