<!DOCTYPE html>
<html>
	<head>
		<title>BridgeIT</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		
	</head>
	<body>

		
		<%= render 'layouts/header' %>
		<div id="wrapper">
			<!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav nav nav-pills nav-stacked" role="tablist">
					<%= yield :sidebar %>
				</ul>
			</div>

			<!-- Page Content -->
			<div id="page-content-wrapper" class="main-template">
				
				<!-- Menu -->
				<div class="menu-wrapper" style="height: <% if @current_page == 'dashboard' %>250px<% else %>100px<% end %>">
					<div class="menu">
						<div class="menu-option-wrapper">
							<%= render 'layouts/menu_options' %>
						</div>
						
					</div>
					<div class="offset"></div>
				</div>
				
				<!-- Content -->

				<div class="content-wrapper" style="padding-top: <% if @current_page == 'dashboard' %>250px<% else %>100px<% end %>">
                
	                <div class="content">
	                    <%= yield %>
	                </div>
	                       
	                <!-- news-feed -->
	                <ul class="news-feed list-group" style="height: <% if @current_page == 'dashboard' %>calc(100% - 301px)<% else %>calc(100% - 151px)<% end %>">
	                    <% @activities.each do |activity| %>
	                        <% if activity.recipient == current_user %>
	                        	<% if activity.trackable != nil %>
		                            <li class="list-group-item">
		                                <%= render_activity activity %> 
		                            </li>
	                            <% end %>
	                        <% end %>
	                    <% end %>
	                </ul>
                
            	</div>
				
				
				
			</div>
			
		</div>

	</body>
</html>